body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.input-label {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.input-hint {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.text-input {
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  padding: 13px 16px 14px 16px;
  box-sizing: border-box;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.ellipse {
  width: 40px;
  height: 40px;
  margin-left: 48px;
  margin-top: 45px;
}

.back-arrow {
  position: absolute;
  width: 9.21px;
  height: 16px;
  left: 62px;
  top: 57px;
}

.header {
  /* margin: 0;
  position: absolute; */
  width: 179px;
  height: 29px;
  margin-left: 149px;
  margin-top: -40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
}

.white-background {
  position: absolute;
  width: 822px;
  height: 1080px;
  right: 0px;
  top: 0px;
  background: #ffffff;
}

.page-1 {
  /* position: absolute; */
  width: 29px;
  height: 24px;
  margin-left: 920px;
  margin-top: -37px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #1a1a1a;
}

.border-2 {
  /* position: absolute; */
  width: 798px;
  height: 0px;
  margin-left: 150px;
  /* top: 88px; */
  border: 1px solid #1a1a1a;
}

.btn-next {
  width: 151px;
}

.btn {
  /* width: 113px; */
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.btn-row {
  display: flex;
  margin-top: 185px;
  gap: 535px;
}

.btn-back {
  width: 113px;
}

.red-logo {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  top: 994px;
}

.line-3 {
  width: 662px;
  height: 0px;
  right: 80px;
  border: 1px solid #c8c8c8;
  margin-left: 80px;
  margin-top: 19px;
  margin-bottom: 24px;
}

.photo {
  position: absolute;
  width: 246px;
  height: 246px;
  left: 501px;
  top: 48px;

  background: url(.jpg);
  border-radius: 133px;
}

.phone-container {
  display: flex;
  margin-top: 10px;
}

.phone {
  margin-left: 80px;
  height: 16.67px;
}
.phone-number {
  padding-left: 12px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  text-decoration: none;
}

.at-sign {
  height: 16.67px;
}

.name {
  width: 430px;
  margin-left: 80px;
  margin-top: 68px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
}

.email {
  margin-top: -3px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  text-decoration: none;
}

.email-container {
  display: flex;
  margin-left: 80px;
}

.about-me {
  width: 118px;
  height: 22px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 34px;
  margin-left: 80px;
  /* identical to box height */

  color: #f93b1d;
}

.about-me-text {
  width: 432px;
  height: 72px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
  word-wrap: break-word;
  margin-left: 80px;
}

.xp,
.edu {
  width: 143px;
  height: 22px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #f93b1d;
  margin-left: 80px;
}

.pos {
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 80px;
  margin-top: 15px;
  margin-bottom: 7px;

  color: #1a1a1a;
}

.start-end-date {
  width: 183px;
  height: 19px;

  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
  color: #919191;
  margin-left: 80px;
}

.desc {
  width: 662px;
  height: 66px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;

  margin-left: 80px;

  color: #000000;
}

.email-container {
  margin-top: 17px;
}

#cv-mail {
  padding-left: 12px;
}

.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}
