.btn-finish {
  font-family: "Helvetica Neue";
  position: absolute;
  font-size: 16px;
  width: 151px;
  height: 48px;
  right: 972px;
  bottom: 65px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

.study-place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 846px;
  height: 125px;
  left: calc(50% - 846px / 2 - 411px);
  top: 157px;
}

.education-lvl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 419px;
  height: 125px;
  left: calc(50% - 419px / 2 - 624.5px);
  top: 294px;
}

.starting-date {
  box-sizing: border-box;
  width: 371px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.ending-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 419px;
  height: 93px;
  left: calc(50% - 419px / 2 - 197.5px);
  top: 294px;
}

.description-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 846px;
  height: 179px;
  left: calc(50% - 846px / 2 - 411px);
  top: 405px;
  resize: none;
}

.line-2 {
  position: absolute;
  width: 846px;
  height: 0px;
  left: 150px;
  top: 673px;

  border: 1px solid #c1c1c1;
}

.btn-add {
  position: absolute;
  width: 289px;
  height: 48px;
  margin-left: 150;
  top: 719px;
  background: #62a1eb;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: "Helvetica Neue";
  cursor: pointer;
}

.description-container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 846px;
  height: 224px;
  left: calc(50% - 846px / 2 - 411px);
  top: 405px;
}

.text-input-2 {
  box-sizing: border-box;
  width: 846px;
  height: 179px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  resize: none;
}

.xp {
  position: absolute;
  width: 143px;
  height: 22px;
  left: 80px;
  top: 365px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}

.pos {
  position: absolute;
  width: 340px;
  height: 20px;
  left: 80px;
  top: 402px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}

.start-end-date {
  position: absolute;
  width: 183px;
  height: 19px;
  left: 80px;
  top: 429px;
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}

.desc {
  position: absolute;
  width: 662px;
  height: 66px;
  left: 80px;
  top: 464px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}

.line-4 {
  position: absolute;
  width: 662px;
  height: 0px;
  right: 80px;
  top: 562px;

  border: 1px solid #c8c8c8;
}

.header-1 {
  width: 179px;
  height: 29px;
  margin-left: 149px;
  margin-top: 40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
}
